* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html,body{
    height: 100%;
}
a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
}

.info {
    float: right;
}

.mainpage {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.leftbar,.rightbar{
    float: left;
}
#rightbar{
    margin-left: 140px;
    margin-top:15px;
    background-color:powderblue;
    height:auto;
    min-height: 600px;
    width: auto;
}
.middle{
    margin-bottom: 15px;
}
#shop,
#good,
#order,
#aftersale {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
    width: 100px;
    height: auto;
    line-height: 40px;
    text-align: left;
    background-color:rgb(47, 226, 158);
}
#shop>ul:hover{
    height: 100px;
    display: inline;
}
#footer {
    display: block;
    text-align: center;
    bottom: 10px;
    left: 50%;
    height:30px;
    margin-top: 10px;
}
#shop>ul,
#good>ul,
#order>ul,
#aftersale>ul{
    list-style: none;
    text-align: right;
}
ul>li{
    cursor: pointer;
}