<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>关于网站</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}"/>
</head>
<body>
<div style="position: absolute;left: 50%;top:25%;text-align: center;transform: translate(-50%, -50%);">
    <p>本网站用于Java Web毕业设计，主要记录技术学习开发。</p>
    <p>本网站不提供以及保证任何服务，无关人员请主动<a style="cursor: pointer" href="javascript:
            window.location.href='about:blank';
            window.close();">离开此站点</a>。</p>
</div>
</body>
</html>