<div id="shop_main">
    <div id="shop_header">
        <h4>创建店铺</h4>
    </div>
    <div id="shop_body">
        <input type="hidden" name="shopid" id="input_shopid">
        <input type="text" name="shopname" id="input_shopname" placeholder="请输入店铺名称">
        <input type="text" name="introduce" id="input_shopintroduce" placeholder="请输入店铺介绍（非必填项）">
        <select id="input_shopstate">
            <option value="1">开启</option>
            <option value="0">关闭</option>
        </select>
    </div>
    <div id="shop_foot">
        <button class="cancel">取消</button>
        <button class="ok" id="sure_addShop">保存</button>
    </div>
</div>